<%- include("./partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Investment</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Set a fixed width for the graph column */
        td.graph-column img {
            width: 100px; 
        }
    </style>
</head>

<body>
    <h2>Micro Investment</h2>
    <table>
        <!--Make the title for the table-->
        <tr>
            <th>Crypto Name</th>
            <th>Price (USD)</th>
            <th>24hr % Change</th>
            <th>Market Cap (USD)</th>
            <th class="graph-column">Graph</th> <!-- Add a class to the graph column -->
        </tr>
        <tr>
            <!--Bitcoin data-->
            <td>
                <img src="images/micropnj/coin-1.svg" width="24" height = "24" alt = "bitcoin logo">
                Bitcoin</td>
            <td>$33.830,700</td>
            <td>-1,88%</td>
            <td>$900 billion</td>
            <td class="graph-column"><img src="images/micropnj/bitcoin.png" alt="Bitcoin Graph"></td>
        </tr>
        <tr>
            <!--Ethereum data-->
            <td>
                <img src="images/micropnj/ethlogo.png" width="24" height = "24" alt = "ethereum logo">
                Ethereum</td>
            <td>$1.770,03</td>
            <td>-0.93%</td>
            <td>$400 billion</td>
            <td class="graph-column"><img src="images/micropnj/ethe.png" alt="Ethereum Graph"></td>
        </tr>
        <tr>
            <!--Dogecoin data-->
            
            <td>
                <img src="images/micropnj/dogelogo.png" width="24" height = "24" alt = "dogecoin logo">
                Dogecoin</td>
            <td>$0,072</td>
            <td>+4,57%</td>
            <td>$10 billion</td>
            <td class="graph-column"><img src="images/micropnj/dogegraph.png" alt="Dogecoin Graph"></td>
        </tr>
    </table>
</body>

</html>

<%- include("./partials/footer.ejs") %>
