<style>
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* This will make the container take up the full height of the viewport */
  }

  header {
    flex: 0 0 auto; /* This ensures the header doesn't grow or shrink, it'll take up only as much space as it needs */
  }

  main {
    flex: 1; /* This will make the main content take up all the available space after allocating space for header and footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    flex: 0 0 auto; /* Similar to the header, the footer will take up only as much space as it needs */
  }
</style>

<div class="flex-wrapper">
  <header><%- include("./partials/header.ejs") %></header>

  <main>
    <!-- Pills content -->
    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="pills-register"
        role="tabpanel"
        aria-labelledby="tab-register"
      >
        <form action="/register" method="post">
          <div class="text-center mb-3">
            <p>Sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1" onclick="window.location.href='/auth/google'">
              <i class="fab fa-google"></i>
            </button>          

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>

          <p class="text-center">or:</p>

          <!-- Name input -->
          <!--
          <div class="form-outline mb-4">
            <input type="text" id="registerName" class="form-control"/>
            <label class="form-label" for="registerName">Name</label>
          </div>
          -->

          <!-- Username input -->
          <!--
          <div class="form-outline mb-4">
            <input type="text" id="registerUsername" class="form-control"/>
            <label class="form-label" for="registerUsername">Username</label>
          </div>
          -->

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="registerEmail" class="form-control" name="username"/>
            <label class="form-label" for="registerEmail">Email</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="registerPassword" class="form-control" name="password"/>
            <label class="form-label" for="registerPassword">Password</label>
          </div>

          <!-- Repeat Password input -->
          <div class="form-outline mb-4">
            <input
              type="password"
              id="registerRepeatPassword"
              class="form-control"
            />
            <label class="form-label" for="registerRepeatPassword"
              >Repeat password</label
            >
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="registerCheck"
              checked
              aria-describedby="registerCheckHelpText"
            />
            <label class="form-check-label" for="registerCheck">
              I have read and agree to the terms
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-3">
            Sign up
          </button>
        </form>
      </div>
    </div>
    <!-- Pills content -->
  </main>

  <footer><%- include("./partials/footer.ejs") %></footer>
</div>
